body {
  margin-left: 5%;
  margin-top: 5%;
}

.data-table {
  border: 1;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

.border-bottom {
  border-bottom: 1px solid #000;
}

td,
th {
  border: 1px solid #000;
  width: 16.666%;
}

td {
  text-align: center;
  vertical-align: top;
}

.hora {
  width: 10%;
}

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px;
  height:25px;
  border: 0px solid #99aa88;
  font-size:20px;
  top:6px;
  left:10px;
  
}

.tabla {
    display: table;
    border: 2px solid #000;
    width: 333px;
    text-align: center;
    margin: 0 auto;
}
.fila {
    display: table-row;
}
.col1, .col2, .col3 {
    display: table-cell;
    border: 1px solid #000;
    vertical-align: middle;
    padding: 10px;
}