body {
  margin-left: 5%;
  margin-top: 45px;
  background-color:#aaa;
}

#menu{
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
	width:100%; 
	height:40px;
	background-color:#aaa; 
}
 
.data-table {
  border: 1;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

.border-bottom {
  border-bottom: 1px solid #000;
}

td,
th {
  border: 1px solid #000;
  width: 16.666%;
}

td {
  text-align: center;
  vertical-align: top;
}

.hora {
  width: 10%;
}

#fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px;
  height:25px;
  border: 0px solid #99aa88;
  font-size:20px;
  top:6px;
  left:10px;
  
}


.tabla {
  display: table;         
  width: auto;         
  background-color: #eee;         
  border: 1px solid #666666;         
  border-spacing: 5px; 
}
.fila {
  display: table-row;
  width: auto;
  clear: both;
}
.celda0 {
  float: left; 
  display: table-column;         
  width: 218px;         
  background-color: #ccc;  
}
.celda1 {
  float: left; 
  display: table-column;         
  width: 218px;         
  background-color: #ccc;  
}
.celda1azul {
  float: left; 
  padding:9px;
  display: table-column;         
  width: 200px; 
  color:#fff;
  background-color: #00c;  
}
.celda1dobleCentro {
  float: left; 
  display: table-column;         
  width: 436px;  
  text-align:center;  
  background-color: #ccc;  
}

/* PARA CONFIGURACION*/


.buttonHorasE{  
    height:17px;
    width:17px;
font-size:9px;
padding:1px 1px;
}
.nosale{  
    height:17px;
    width:17px;
font-size:9px;
background-color:#bb9;
padding:1px 1px;
}
.buttonHorasS{  
  height:17px;
  width:17px;
  font-size:9px;
  padding:1px 1px;
  }

.verde{ background-color:#9fa;}
.rosa{ background-color:#f9f;}
.blanco{ background-color:#fff;}